body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#FBFBFB;
    text-align: center;
    width: 100%;
}

header {
    background-color:black;
    grid-area: h;
}

nav {
    background-color:#716969;
    grid-area: n;
}

main {
    background-color:#716969;
    grid-area: m;
}


.container{
    display:grid;
    grid-template-rows: 5vh 15vh 80vh;   
    grid-template-areas: 

    'h h'
    'n n'
    'm m';
}

#title {
    color: wheat;
    width: 100%;
}

.color {
    border: solid 1px black;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#cor1 {
    background-color: black;
}

#cor2 {
    background-color: #3B60E4;
}

#cor3 {
    background-color: #7765E3;
}

#cor4 {
    background-color: #C8ADC0;
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: solid 1px black;
    display: inline-block;
}

#pixel-board {
    font-size: 0;
}

.selected {
    box-shadow: 0 0 1px 1px white;
}